
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    letter-spacing: 1px;
    text-decoration: none;
}

.background{
    width: 100%;
    height: 100vh;
    background-image: url(img/dairy.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    justify-content: center;
    align-items: center;
    display: flex;
}

.glass{
    position: absolute;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 5em auto;
    height: 85vh;
    width: 60%;
    background-color: azure;
    border-radius: 30px;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(16px);
    background-color: rgba(255, 255, 255, 0.06);
    /* border: 1px solid rgba(255, 255, 255, 0.1); */
    border: none;
    outline: none;
    box-shadow: 0px 20px 40px 0px rgb(0 0 0 / 90%);
}

.glass p{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    color: #fff;
    text-align: justify;
}

.glass p::first-letter{
    font-size: 2.5em;
    color: #008000;
    font-weight: bold;
}

.glass h1{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #008000;
    font-size: 3em;
    text-decoration: underline;  
    margin-bottom: 0.4em;  
}


.btn{
    background: #008000;
    padding: 15px 25px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    border: none;
    outline: none;
    box-shadow: 0px 20px 35px 0px rgb(0 0 0 / 90%);
    margin-right: 20px;
    text-align: center;
}


.glass .button1{
    display: block;
    text-align: center;
}




/* responsive mobile media */
@media only screen and (max-width: 940px) {
    .glass{
        overflow: scroll;
        min-height: 90vh;
        min-width: 90%;
    }

    .glass h1{
        font-size: 2em;
        display: block;
        text-align: center;
    }

    .glass p{
        font-size: 1.2em;
    }

    .button1{
        margin-top: 1em;
    }

}


